node_modules/
dist/
.env
.env.*
!.env.example
data/
uploads/
*.key
*.pem
*.zip
*.apk
*.aab
*.tif
*.gpkg
*.qgz
*.png
*.jpg
*.jpeg
.DS_Store
*.log
android/.gradle/
android/local.properties
ios/Pods/
coverage/

**/build/
**/.cxx/
**/.kotlin/
*.keystore
*.xcuserstate
apps/mobile/assets/viewer.json

.deploy/

*.xlsx
!apps/web/public/branding/minor-logo.png
